---
import { getCollection } from "astro:content";
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import Layout from "@layouts/layout.astro";
import Main from "@layouts/main.astro";
import Tag from "@components/tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";

const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
    <ul>
      {tags.map(tag => <Tag name={tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
